useDynLib(MonotonicityTest, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "lines")
importFrom("stats", "bw.nrd", "dnorm", "lm", "coef")
importFrom("rlang", ".data")
importFrom("ggplot2", "aes", "ggplot", "geom_point", "geom_line", "ggtitle",
           "xlab", "ylab", "scale_color_manual", "labs", "theme", "facet_wrap",
           "element_rect", "element_text", "geom_abline")
exportPattern("monotonicity_test")
exportPattern("create_kernel_plot")
